
bin/*
dist/*
lib/
target/
work/*

.scannerwork

build.properties
ivy.classpath.properties
ivysettings.properties
ivysettings.xml

derby.log
sqldump.properties

# eclipse
.project
.classpath
**/.settings/org.eclipse*
#.settings/org.eclipse.core.resources.prefs
